p {
    text-align: center;
}
h1 {
    text-align: center;
    margin: 20px;
}
.link {
    margin: 8px;
}
.link-container{
    display:flex;
    flex-direction:column;
    align-items: center;
}
