p {
    text-align: center;
}
h1 {
    text-align: center;
    margin: 20px;
}
.link {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: block;
}
.link-container{
    position: relative;
}
